.header {
    &__static {
        display: flex;
        justify-content: space-between;
        height: 160px;
        padding: 20px 0;

        &__logo {
            height: auto;
            width: auto;
        }
    }

    &__nav {
        position: absolute;
        top: 160px;
        left: 0;
        z-index: 50;
        width: 100%;
        &_collapse {
            position: fixed;
            animation: nav-slide-down 0.4s forwards ease-out;
            @keyframes nav-slide-down {
                from {
                    top: -50%;
                }
                to {
                    top: 30px;
                }
            }
        }

        &__wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #F7F7F9;
            border: 1px solid #EAEAEA;
            box-shadow: 0px 1px 23px rgba(0, 0, 0, 0.05), 0px 15px 30px rgba(20, 59, 121, 0.03);
            border-radius: 10px;
            padding: 16px 44px;
            width: 1700px;
            margin: 0 auto;
            &__buttons {
                display: flex;
                width: fit-content;
                justify-content: space-between;
                align-items: center;
                gap: 4vw;
            }
        }

        &__mobile {
            display: none;

            &__menu {
                display: none;

                .header__nav__open__menu {
                    padding: 10px 0;
                    width: max-content;
                    right: -31px;
                    left: auto;
                }

                &__title {
                    font-weight: 500;
                    color: $five;
                }

                .static__link, &__title {
                    padding: 10px 26px;
                    display: block;
                    width: max-content;
                    min-width: 100%;
                }
            }

            &__burger {
                width: 30px;
                height: 18px;
                position: relative;

                hr {
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: #bbbbbb;

                    &:nth-child(1) {
                        top: 0;
                        transition: transform 0.2s, background-color 0.2s, top 0.2s 0.2s;
                    }

                    &:nth-child(2) {
                        top: calc(50% - 1px);
                        transition: 0.2s 0.4s all;
                    }

                    &:nth-child(3) {
                        bottom: 0;
                        transition: transform 0.2s, background-color 0.2s, bottom 0.2s 0.2s;
                    }
                }

                &._active {
                    hr {
                        &:nth-child(1) {
                            top: calc(50% - 1px);
                            transition: top 0.2s 0.2s, transform 0.2s 0.4s, background-color 0.2s 0.4s;
                            transform: rotate(45deg);
                            background-color: $five;
                        }

                        &:nth-child(3) {
                            bottom: calc(50% - 1px);
                            transition: bottom 0.2s 0.2s, transform 0.2s 0.4s, background-color 0.2s 0.4s;
                            transform: rotate(-45deg);
                            background-color: $five;
                        }

                        &:nth-child(2) {
                            transition: 0.2s all;
                            width: 0;
                        }
                    }
                }
            }
        }

        &__navigation {
            display: contents;

            &_mobile {

            }
        }

        .static__link.hl_after {
            display: contents;

            &:after {
                content: "";
                width: 9px;
                height: 5px;
                display: block;
                background-image: url('./../../public/svg/link-splitter.svg');
                background-repeat: no-repeat;
                background-size: cover;
            }
        }

        &__open {
            position: relative;

            &_show {
                .header__nav__open {
                    &__trigger {
                        color: $three;

                        &:before {
                            filter: brightness(1);
                            transform: rotate(180deg) translateY(50%);
                        }
                    }

                    &__menu {
                        top: 54px;
                        visibility: unset;
                        opacity: 1;
                    }
                }
            }

            &__trigger {
                position: relative;
                display: block;

                &:after {
                    content: unset;
                }

                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    transform-origin: center center;
                    right: -20px;
                    width: 11px;
                    height: 9px;
                    background-image: url("./../../public/svg/link-arrow.svg");
                    filter: brightness(0.4);
                    background-repeat: no-repeat;
                    background-size: cover;
                    transition: 0.2s all linear;
                }

                &:hover {
                    &:before {
                        filter: brightness(1);
                    }
                }
            }

            &__menu {
                position: absolute;
                top: 70px;
                left: calc(-50% - 13px);
                display: block;
                visibility: hidden;
                opacity: 0;
                background: #F7F7F9;
                border: 1px solid #EAEAEA;
                box-shadow: 0px 1px 23px rgba(0, 0, 0, 0.05), 0px 15px 30px rgba(20, 59, 121, 0.03);
                border-radius: 10px;
                transition: 0.2s all;

                &__list {
                    list-style: none;

                    &__item {
                        transition: 0.2s all;
                        width: 100%;

                        &:hover {
                            background-color: #fbfbfb;
                        }

                        &:first-child {
                            border-top-left-radius: 9px;
                            border-top-right-radius: 9px;
                        }

                        &:last-child {
                            border-bottom-left-radius: 9px;
                            border-bottom-right-radius: 9px;
                        }

                        .static__link {
                            padding: 13px 26px;
                            display: block;
                            width: max-content;
                            min-width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1730px) {
    .header__nav {
        padding: 0 20px;
        &__wrap {
            width: auto;
            margin: 0;
        }

    }
}

@media (max-width: 1400px) {
    .header__nav {
        .static__link.hl_after {
            display: block;

            &:after {
                content: none;
            }
        }

        &__navigation {
            width: 100%;
            display: contents;
        }

        &__open {
            &__trigger {
                padding-right: 20px;

                &::before {
                    right: 0;
                }

                .static__link {

                }
            }
        }

        &__wrap {
            padding: 16px 30px;

            &__buttons {
                .static__link_btn {
                    margin: 0;
                }
            }
        }
    }
}

@media (max-width: 1130px) {
    .header__nav__navigation {
        .static__link[data-adapt='1130'] {
            display: none;
        }
    }
    .header__nav__wrap__buttons {
        gap: 36px;
    }
    .header__nav__mobile {
        &__menu {
            display: block;
            .header__nav__mobile__menu__title {
                display: none;
            }
            .static__link {
                display: none;
                &[data-adapt='1130'] {
                    display: block;
                }
            }
        }

        &__burger {

            display: block;
            padding: 0;

            &::before {
                content: none;
            }
        }
    }
}

@media (max-width: 780px) {
    .header__static {
        height: 120px;
    }
    .header__nav {
        top: 120px;
        &__navigation {
            .static__link[data-adapt='780'] {
                display: none;
            }
        }
        &__mobile {
            &__menu {
                .static__link {
                    &[data-adapt='780'] {
                        display: block;
                    }
                }
            }
        }
    }
}

@media (max-width: 660px) {
    .header__nav__navigation {
        .static__link {
            display: none;
        }
    }
    .header__nav__mobile {
        &__menu {
            .static__link {
                    display: block;
            }
        }
    }
    .header__nav__wrap__buttons {
        width: 100%;
        .static__link_btn {
            margin-right: auto;
        }
    }
}