.popup {
    position: absolute;
    opacity: 0;
    background-color: red;
    width: 50vw;
    height: 50vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s all;
    &_show {
        opacity: 1;
    }
}