.safe {
    .visible-content {
        &_visible {
            .safe__images {
                opacity: 1;
            }

            .safe__manifest {
                p {
                    transform: translateY(0%);
                }
            }
        }
    }

    &__manifest {
        overflow: hidden;

        p {
            transition: 0.8s all;
            transform: translateY(100%);
        }
    }

    &__images {
        overflow-x: hidden;
        margin-top: 100px;
        transition: 0.4s 1.8s all;
        opacity: 0;

        &__window {
            display: grid;
            grid-template-columns: repeat(5, calc(100% / 5 - 10px));
            grid-auto-flow: column;
            grid-auto-columns: calc(100% / 5 - 10px);
            column-gap: 10px;
            transition: 0.6s all;
        }

        &__image {
            height: 350px;
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
        }

        &__pagination {
            margin-top: 54px;
            display: flex;
            justify-content: center;
            gap: 14px;

            &__dot {
                width: 15px;
                height: 15px;
                border-radius: 3px;
                border: 1px solid $five;
                transition: 0.2s all;
                cursor: pointer;

                &.active {
                    background-color: $five;
                }
            }
        }
    }
}

@media (max-width: 1700px) {
    .safe__images__image {
        height: 20vw;
    }
}

@media (max-width: 1400px) {
    .safe__images__window {
        grid-template-columns: repeat(4, calc(100% / 4 - 10px));
        grid-auto-columns: calc(100% / 4 - 10px);
    }
    .safe__images {
        &__pagination {
            margin-top: 30px;
        }

        &__image {
            height: 22vw;
        }
    }
}

@media (max-width: 1200px) {
    .safe__images__pagination {
        gap: 10px;
        &__dot {
            width: 13px;
            height: 13px;
        }
    }
}

@media (max-width: 768px) {
    .safe__images {
        margin-top: 50px;
        &__window {
            grid-template-columns: repeat(3, calc(100% / 3 - 10px));
            grid-auto-columns: calc(100% / 3 - 10px);
        }

        &__image {
            height: 28vw;
        }
    }
}
@media (max-width: 580px) {
    .safe__images {
        &__window {
            grid-template-columns: repeat(3, calc(100% / 3 - 6px));
            grid-auto-columns: calc(100% / 3 - 6px);
            gap: 6px;
        }
        &__pagination {
            margin-top: 24px;
        }
        &__image {
            height: 28vw;
        }
    }
}

@media (max-width: 490px) {
    .safe__images {
        &__window {
            grid-template-columns: repeat(2, calc(100% / 2 - 6px));
            grid-auto-columns: calc(100% / 2 - 6px);
            gap: 6px;
        }
        &__pagination {
            margin-top: 24px;
        }
        &__image {
            height: 50vw;
        }
    }
}
