.home {
    &__banner {
        display: flex;
        gap: 10vw;
        transition: 0.6s all ease-in-out;

        &__wrap {
            position: relative;
        }

        &__pagination {
            position: absolute;
            display: flex;
            gap: 4px;
            left: 50%;
            bottom: 8%;
            transform: translateX(-50%);
            z-index: 5;

            &__dot {
                background-color: $seven;
                border-radius: 4px;
                height: 4px;
                width: 90px;
                opacity: 0.4;
                transition: 0.2s all;
                cursor: pointer;

                &._active {
                    opacity: 0.8;
                    width: 110px;
                }
            }
        }

        &__slide {
            width: 100%;
            height: 700px;
            position: relative;
            padding-top: 150px;
            padding-left: 150px;
            display: flex;
            flex-direction: column;
            gap: 40px;
            flex-shrink: 0;

            .static__title {
                position: relative;
                z-index: 5;
                color: $seven;
                margin: 0;
                font-size: 52px;
            }

            .static__subtitle2 {
                position: relative;
                z-index: 5;
                color: $seven;
            }

            .static__link_btn {
                &._animate {
                    position: relative;
                    z-index: 5;
                    color: $seven;
                    font-size: 20px;
                    margin: 0;
                    width: 300px;

                    &:hover {
                        color: $six;
                        border: 1px solid $six;

                        &:after {
                            border-bottom: 1px solid $six;
                            border-right: 1px solid $six;
                            right: 12px;
                        }
                    }
                }
            }

            &__image {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                object-fit: cover;
                filter: brightness(0.6);
                border-radius: 10px;
                box-shadow: 0px 1px 23px rgba(0, 0, 0, 0.05),
                0px 15px 30px rgba(20, 59, 121, 0.03);
            }
        }
    }
}

.promo-one {
    background-color: $eight;
    margin-top: 100px;
    padding: 140px 0;

    .visible-content {
        &_visible {
            .promo-one__content__block {
                transform: scale(1);
            }
        }
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;

        &__block {
            box-shadow: 0px 15px 15px rgba(2, 0, 101, 0.02);
            border-radius: 20px;
            padding: 30px;
            background: #FFFFFF;
            display: flex;
            justify-content: space-between;
            transform: scale(0);

            &._last {
                position: relative;
                background-color: $five;
                justify-content: flex-start;

                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: url("/svg/messenger-bg.svg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                }

                .static__content {
                    color: $seven;
                }
            }

            &__split {
                display: flex;
                flex-direction: column;
                gap: 40px;
            }

            &__image {
                object-fit: contain;
            }

            .static__content {
                font-weight: 500;
            }

            &__number {
                font-weight: 700;
                font-size: 24px;
                line-height: 31px;
                color: rgba(49, 65, 82, 0.07);
            }
        }
    }
}

.promo-two {
    background-color: $eight;
    margin-top: 100px;
    padding: 140px 0;

    .visible-content {
        &_visible {
            .promo-two__content__big,
            .promo-two__content__block {
                transform: scale(1);
            }
        }
    }

    &__content {
        display: grid;
        grid-template-areas: "big fi se" "big th fo";
        gap: 20px;

        &__big {
            position: relative;
            background-color: $five;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-shadow: 0px 15px 15px rgba(2, 0, 101, 0.02);
            border-radius: 20px;
            padding: 40px;
            transform: scale(0);
            width: 100%;
            grid-area: big;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url("/svg/messenger-bg.svg");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }

            .static__content {
                color: $seven;
            }

            .static__title {
                color: $seven;
            }
        }

        &__block {
            box-shadow: 0px 15px 15px rgba(2, 0, 101, 0.02);
            border-radius: 20px;
            object-fit: cover;
            transform: scale(0);

            &:nth-child(1) {
                grid-area: fi;
            }

            &:nth-child(2) {
                grid-area: se;
            }

            &:nth-child(3) {
                grid-area: th;
            }

            &:nth-child(4) {
                grid-area: fo;
            }
        }
    }
}

.main-contacts {
    .visible-content {
        &_visible {
            .main-contacts__bar,
            iframe {
                opacity: 1;
            }
        }
    }

    iframe {
        opacity: 0;
        transition: 0.4s 0.2s all;
    }

    &__bar {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
        border-radius: 10px;
        padding: 16px 44px;
        border: 1px solid #EAEAEA;
        background-color: $seven;
        box-shadow: 0px 1px 23px rgba(0, 0, 0, 0.05),
        0px 15px 30px rgba(20, 59, 121, 0.03);
        margin-bottom: 50px;
        opacity: 0;
        transition: 0.4s all;

        &__block {
            display: flex;
            align-items: center;
            gap: 20px;

            &:last-child {
                .static__link {
                    cursor: auto;

                    &:hover {
                        color: $zero;
                    }
                }
            }

            &__split {
                display: flex;
                flex-direction: column;
                gap: 5px;

                span {
                    color: $gray;
                }
            }
        }
    }
}

@media (max-width: 1440px) {
    .promo-two__content__block {
        width: 22vw;
    }
}

@media (max-width: 1130px) {
    .promo-two__content {
        gap: 10px;

        &__block {
            width: 20vw;
        }
    }
    .main-contacts {
        &__bar {
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 1000px) {
    .home {
        &__banner {
            &__slide {
                height: 550px;
                padding-top: 76px;
                padding-left: 76px;
                gap: 34px;

                .static__title {
                    font-size: 42px;
                }

                .static__link_btn._animate {
                    font-size: 18px;
                }
            }

            &__wrap {

            }

            &__pagination {
                &__dot {
                    width: 60px;

                    &._active {
                        width: 90px;
                    }
                }
            }
        }

        .promo-one {
            padding: 90px 0;

            &__content {
                gap: 16px;
            }
        }

        .promo-two {
            padding: 90px 0;

            &__content {
                grid-template-areas: "big se" "big fi" "fo th";

                &__big {
                    justify-content: flex-start;
                    gap: 26px;
                }

                &__block {
                    width: 100%;
                    min-width: 18vw;
                }
            }
        }
    }
}

@media (max-width: 880px) {
    .promo-one__content {
        gap: 16px;
        grid-template-columns: 1fr 1fr;
    }
    .main-contacts {
        &__bar {
            padding: 16px 22px;
        }
    }
}

@media (max-width: 800px) {
    .promo-two__content {
        &__block {
            height: 180px;
        }
    }
    .main-contacts {
        &__bar {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media (max-width: 660px) {
    .home {
        &__banner {
            &__slide {
                height: 450px;
                padding-top: 70px;
                padding-left: 20px;
                gap: 40px;

                .static__title {
                    font-size: 38px;
                }

                .static__link_btn._animate {
                    font-size: 16px;
                    width: 220px;
                }
            }

            &__pagination {
                &__dot {
                    width: 50px;

                    &._active {
                        width: 70px;
                    }
                }
            }
        }

        .promo-one {
            &__content {
                &__block {
                    padding: 20px;

                    &__split {
                        gap: 20px;
                    }

                    &__image {
                        max-width: 35px;
                        max-height: 38px;
                    }

                    &__number {
                        font-size: 20px;
                    }
                }
            }
        }

        .promo-two {
            margin-top: 70px;
            padding: 60px 0;
            &__content {
                gap: 8px;

                &__block {
                    min-width: 30vw;
                    height: 150px;
                }

                &__big {
                    padding: 24px;
                }
            }
        }
        .main-contacts {
            &__bar {
                &__block {
                    gap: 14px;
                    &__split {
                        font-size: 14px;
                    }
                    &__svg {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
    }
}

@media (max-width: 580px) {
    .main-contacts {
        &__bar {
            grid-template-columns: 1fr;
        }
    }
}
@media (max-width: 520px) {
    .home {
        &__banner {
            &__slide {
                padding-top: 100px;
                gap: 45px;

                .static__title {
                    font-size: 26px;
                }

                .static__link_btn._animate {
                    font-size: 14px;
                    width: 190px;
                }
            }

            &__pagination {
                &__dot {
                    &._active {
                    }
                }
            }
        }

        .promo-two__content {
            grid-template-areas: "big big" "big big" "th se" "fo fi";

            &__block {
                min-width: 100%;
                height: 140px;
            }
        }
        .main-contacts {
            iframe {
                height: 400px !important;
            }
        }
    }
}

@media (max-width: 420px) {
    .home .promo-one {
        margin-top: 80px;
        padding: 60px 0;

        &__content {
            gap: 8px;
        }
    }
}

@media (max-width: 390px) {
    .promo-one {
        &__content {
            grid-template-columns: 1fr;

            &__block {
                min-height: 142px;
            }
        }
    }
    .main-contacts {
        &__bar {
            &__block {
                &__split {
                }
                &__svg {
                    width: 44px;
                    height: 44px;
                }
            }
        }
    }
}
