@font-face {
    font-family: DIN Pro Cond;
    src: url('../../../public/fonts/DINPro-CondensedBold.woff2') format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}
.advantages {
    .visible-content {
        display: flex;
        flex-direction: column;
        gap: 60px;
        transition: 0.4s all;
        &_visible {
            .advantages__block {
                opacity: 1;
                &:before {
                    width: 100%;
                }

                &:first-child {
                    &:after {
                        width: 100%;
                    }
                }
            }
        }
    }
    &__block {
        position: relative;
        display: flex;
        gap: 60px;
        padding: 30px 0;
        opacity: 0;
        &:before {
            content: "";
            position: absolute;
            height: 1px;
            width: 0%;
            background-color: rgba(17,17,17,.24);
            transition: 4s all;
        }

        &:before {
            bottom: 0;
        }
        &:first-child {
            &:after {
                top: 0;
                content: "";
                position: absolute;
                height: 1px;
                width: 0%;
                background-color: rgba(17,17,17,.24);
                transition: 4s 0.4s all;
                right: 0;
            }
        }
        &:nth-child(odd) {
            &:before {
                left: 0;
            }
        }
        &:nth-child(even) {
            &:before {
                right: 0;
            }
        }
        &__wrap {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
        }
        &__count {
            display: flex;
            align-items: center;
            font-size: 112px;
            color: rgba(17,17,17,.24);
            font-family: DIN Pro Cond, helvetica, arial, sans-serif;
        }
    }
}
@media (max-width: 798px) {
    .advantages .visible-content {
        gap: 30px;
    }
}
@media (max-width: 660px) {
    .advantages {
        .visible-content {
            gap: 16px;
        }
        &__block {
            gap: 30px;
            &__wrap {
                gap: 10px;
            }
            &__count {
                align-items: flex-start;
                font-size: 96px;
            }
        }
    }
}
@media (max-width: 420px) {
    .advantages {
        .visible-content {
            gap: 4px;
        }

    }
}
@media (max-width: 390px) {
    .advantages {
        &__block {
            &__count {
                font-size: 84px;
            }
        }
    }
}
